@mixin card-element($outline: $dark-tint-divider, $title-tint:$dark-tint-secondary, $date-tint: $dark-tint-disabled, $text-tint:$dark-tint-primary) {
    
    article {
        margin-bottom: 24px;
        border-bottom: 1px solid $outline;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 12px;


        > .card-image {
            height: auto;
            max-width: 120px;
            min-width: 120px;
            height: 120px;
            width: 120px;
            margin: 24px auto;
            text-align: center;

            background: rgba(255,255,255,1);
            border-radius: 100%;
            box-shadow: 0 2px 3px rgba(0,0,0,0.2);
            
            img {
                max-width: 110px;
                max-height: 110px;
                margin: 5px;
            }
        }

        > .card-content {
            order: -1;
            flex: 1 1 auto;
            padding-top: 20px;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        .card-heading {
            @include card-heading(
                $outline: $outline
            );
        }

        .card-title {
            @include card-title(
                $text-tint: $title-tint
            );

            font-size: 24px;
            font-weight: bold;
        }

        .card-date {
            @include card-date(
                $text-tint: $date-tint
            );

            margin-left: 12px;
        }

        .card-details {
            @include detail-point-list(
                $text-tint: $text-tint,
                $icon-fill: $text-tint
            );
        }

        .card-tags {
            @include inline-tag-list(
                $text-tint: $text-tint
            );
        }
    }

    @media screen and (min-width: 1200px) {
        article {
            padding: 0 56px;
            flex-direction: row;

            .card-image {
                margin: 24px;
            }

            .card-heading {
                // flex-direction: row;
            }

            .card-title {
                font-size: 36px;
                font-weight: normal;
            }

            .card-date {
                // margin-left: auto;
            }
        }
    }
}

@mixin card-heading($outline: $dark-tint-divider) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    // border-top: 1px solid $outline;
    margin-bottom: 12px;
    padding-top: 12px;
    width: 100%;
}

@mixin card-title($text-tint: $dark-tint-secondary) {
    flex: 1;
    font-weight: normal;
    font-size: 36px;
    color: $text-tint;
    padding-left: 24px;
    padding-right: 12px;
}

@mixin card-date($text-tint: $dark-tint-disabled) {
    margin-left: auto;
    text-align: right;
    font-size: 14px;
    padding-right: 12px;
    letter-spacing: 1.34px;
    font-weight: bold;
    color: $text-tint;
    padding-right: 24px;
    padding-left: 12px;
}

@mixin picture-card($width: 100px, $height: 100px) {
    width: 100px;
    height: 100px;
    position: relative;
    
    flex: 0 0 auto;
    height: 108px;
    width: 108px;
    background-color: white;
    box-shadow: 0 4px 4px -3px rgba(0,0,0,0.1), 0 3px 4px rgba(0,0,0,0.2);
    
    img {
        display: block;
        max-height: 80px;
        max-width: 80px;
        margin: 10px auto;
    }
}

@mixin grid-card-list() {
    list-style: none;
    margin: 0 12px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

@mixin grid-card() {
    display: inline-block;
    margin: 12px;
    max-width: 100px;
    min-width: 100px;
    max-height: 136px;
    min-height: 136px;
    background-color: white;
    box-shadow: 0 3px 4px -3px rgba(0,0,0,0.2), 0 3px 4px rgba(0,0,0,0.1), 0 2px 4px rgba(0,0,0,0.1);

    img {
        display: block;
        width: inherit;
        max-width: inherit;
    }

    span {
        display: block;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
    }
}

@mixin detail-point-list($text-tint: $dark-text-primary, $icon-fill: $dark-text-secondary) {
    & {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            min-height: 36px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            padding-left: 24px;
            padding-right: 24px;
        }

        icon {
            color: $icon-fill;
            flex: 0 0 auto;
            margin: 6px;
            font-size: 16px;
        }

        span.text {
            flex: 0 1 auto;
            padding-top: 4px;
            line-height: 1.34;
            font-size: 16px;
            font-weight: normal;
            color: $text-tint;
        }
    }
}

@mixin inline-tag-list($text-tint: $dark-text-secondary) {
    margin: 0 0 24px 0;
    padding: 0 12px;
    list-style: none;
    
    li {
        display: inline;
        padding: 6px 12px;

        font-size: 12px;
        font-weight: normal;
        color: $text-tint;
        margin: 4px;
    }
}

@mixin inline-label-list($label-tint: $dark-tint-secondary, $text-tint: $dark-tint-primary, $divider-tint: $dark-tint-divider) {
    list-style: none;
    margin: 24px 0;
    padding: 0;

    li {
        min-height: 48px;
        line-height: 48px;
        font-size: 24px;
        color: $text-tint;
        margin-bottom: 12px;
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-bottom: 12px;
        
        label {
            font-size: 14px;
            padding-right: 12px;
            color: $label-tint;
            font-weight: bold;
            margin: 0;
            flex: 1;
            padding-left: 24px;
        }

        .value {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: flex-start;
            font-size: inherit;
            line-height: inherit;
            color: inherit;
        }

        p {
            font-size: inherit;
            line-height: inherit;
            color: inherit;
            text-align: left;
            padding-left: 24px;
            margin: 0;
            border-left: 1px solid $divider-tint;
            
        }
    }

    @media screen and (min-width: 768px) {
        li {
            padding-left: 56px; 
            padding-right: 56px;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;

            label {
                text-align: right;
                padding-left: 0;
            }

            p {
                padding-left: 12px;
            }
        }
    }
}


@mixin set-header($top:false, $bottom:false, $visible:false, $align-title: left, $align-icon: right) {
    top: if($top, 0, unset);
    bottom: if($bottom, 0, unset);
    opacity: if($visible, 1, 0);
    visibility: if($visible, visible, hidden);

    icon.direction-icon {
        margin-left: if($align-icon == right, auto, 0);
        margin-right: if($align-icon == left, auto, 0);
        
        @if $align-icon == right and $bottom {
            transform: rotate(180deg);
        }
    }

    @if $top {
        icon.menu-icon {
            margin-right: auto;
            display: block;
        }

        @media screen and (min-width: 1200px) {
            icon.menu-icon {
                display: none;
            }
        }
    }

    .header-title {
        text-align: $align-title;
        transform: if($align-title == center, translate3d(0, 150%, 0), translate3d(0,0,0));
        font-size: if($align-title == center, 56px, 24px);
    }
}




// https://coolors.co/292f36-4ecdc4-f7fff7-ff6b6b-ffe66d

// https://coolors.co/353535-3c6e71-ffffff-d9d9d9-284b63