
// COLOR

$dark-tint-primary: rgba(0,0,0,0.87);
$dark-tint-secondary: rgba(0,0,0,0.54);
$dark-tint-disabled: rgba(0,0,0,0.54);
$dark-tint-divider: rgba(0,0,0,0.12);

$light-tint-primary: rgba(255,255,255,1);
$light-tint-secondary: rgba(255,255,255,0.70);
$light-tint-disabled: rgba(255,255,255,0.50);
$light-tint-divider: rgba(255,255,255,0.12);


$dark-grey: #323232;

$amber: #ffC107;
$amber700: #FFA000;

$blue: #2196F3;
$blue200: #90CAF9;
$blue700: #1976d2;
$blue900: #0D47A1;

$cyan: #00BCD4;
$cyan200: #80DEEA;
$cyan700: #0097A7;
$cyan200: #18FFFF;

$green: #4CAF50;
$green700: #388E3C;

$grey: #9E9E9E;
$grey700: #616161;

$indigo: #3F51B5;
$indigo700: #303F9F;

$lime: #CDDC39;
$lime200: #E6EE9C;
$lime700: #AFB42B;
$limeA400: #C6FF00;

$orange: #FF9800;
$orange700: #F57C00;

$pink: #E91E63;
$pinkA100: #FF80AB;
$pink100: #F8BBD0;
$pink200: #F48FB1;

$purple: #673AB7;
$purple300: #BA68C8;
$purple700: #512DA8;

$red: #F44336;


$theme-brown: #353535;
$theme-teal: #77A0A2;
$theme-white: white;
$theme-tan: #D9D9D9;
$theme-blue: #284B63;


// $title-fill: white;
// $title-tint: $dark-tint-primary;

$title-fill: $theme-tan;
$title-tint: $dark-tint-primary;
$title-divider: $dark-tint-divider;
$title-secondary: $dark-tint-secondary;
$title-disabled: $dark-tint-disabled;


$profile-fill: $theme-blue;
$profile-tint: $light-tint-primary;
$profile-divider: $dark-tint-divider;
$profile-secondary: $dark-tint-secondary;
$profile-disabled: $dark-tint-disabled;


$projects-fill: $theme-tan;
$projects-tint: $dark-tint-primary;
$projects-divider: $dark-tint-divider;
$projects-secondary: $dark-tint-secondary;
$projects-disabled: $dark-tint-disabled;


$xp-fill: $theme-teal;
$xp-tint: $dark-tint-primary;
$xp-divider: $dark-tint-divider;
$xp-secondary: $dark-tint-secondary;
$xp-disabled: $dark-tint-disabled;


$edu-fill: $theme-tan;
$edu-tint: $dark-tint-primary;
$edu-divider: $dark-tint-divider;
$edu-secondary: $dark-tint-secondary;
$edu-disabled: $dark-tint-disabled;


$tech-fill: $theme-brown;
$tech-tint: $light-tint-primary;
$tech-divider: $dark-tint-divider;
$tech-secondary: $dark-tint-secondary;
$tech-disabled: $dark-tint-disabled;


$connect-fill: $theme-tan;
$connect-tint: $dark-tint-primary;
$connect-divider: $dark-tint-divider;
$connect-secondary: $dark-tint-secondary;
$connect-disabled: $dark-tint-disabled;





// SIZE

$header-height: 56px;


$headers: (title, profile, projects, experience, education, technology, connect);
$views: (
    (
        name: title,
        fill: $title-fill,
        tint: $title-tint
    ),
    (
        name: profile,
        fill: $profile-fill,
        tint: $profile-tint
    ),
    (
        name: projects,
        fill: $projects-fill,
        tint: $projects-tint
    ),
    (
        name: experience,
        fill: $xp-fill,
        tint: $xp-tint
    ),
    (
        name: education,
        fill: $edu-fill,
        tint: $edu-tint
    ),
    (
        name: technology,
        fill: $tech-fill,
        tint: $tech-tint
    ),
    (
        name: connect,
        fill: $connect-fill,
        tint: $connect-tint
    )
);