@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'core/_variables.scss';
@import 'core/_mixin.scss';
@import 'resources/nav-section/_nav-section.scss';
@import 'resources/navigation/_navigation.scss';
@import 'resources/attributes/ripple/_ripple.scss';
@import 'resume/title/_title.scss';
@import 'resources/header/_header.scss';
@import 'resources/footer/_footer.scss';
@import 'resources/elements/dialog/_dialog.scss';
@import 'resources/elements/checkbox/_checkbox.scss';
@import 'core/_layout.scss';
@import 'resume/_resume.scss';

*::-webkit-scrollbar {
    display: none;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
    width: 100vw;
    height: 100vh;
    color: $dark-grey;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    max-height: 100vh;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* lets it scroll lazy */

    &.platform-ios {
        user-select: none;
        -webkit-user-select: none;

        button, icon, a, li {
            touch-action: manipulation;
            -ms-touch-action: manipulation;
        }
    }
}

body {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    max-width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

button {
    background: transparent;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-webkit-appearance: none;
    -ms-webkit-appearance: none;
    -o-appearance: none;
    font-weight: normal;
    text-transform: uppercase;
}

button.btn {
    height: 36px;
    min-width: 120px;
    line-height: 36px;
    padding: 0;
    margin: 0;
    align-self: flex-start;
    box-shadow: 0 5px 4px -4px rgba(0,0,0,0.2), 0 3px 4px rgba(0,0,0,0.2);
    transition: box-shadow 0.1s ease;
    cursor: pointer;

    &.btn-blue {
        background-color: $theme-blue;
        color: $theme-lt;
    }

    @media screen and (min-width: 768px) {
        &:hover {
            box-shadow: 0 6px 6px -7px rgba(0,0,0,0.2), 0 5px 6px rgba(0,0,0,0.2);
        }
    }

    &:active {
        box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    }

    &:disabled {
        opacity: 0.5;
        color: $dark-tint-secondary !important;
        cursor: not-allowed;
        border: 1px solid $dark-tint-divider;
        background: $dark-tint-divider;
    }
}

container {
    position: relative;
    display: block;
    z-index: 3;
    pointer-events: none;
    box-shadow: -2px 0 4px rgba(0,0,0,0.2);
    -webkit-backface-visibility: hidden;

    > * {
        pointer-events: auto;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    position: relative;
    z-index: 5;
    max-width: 100%;
    overflow-x: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

navigation {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

icon {
    user-select: none;
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    z-index: 1;
    // filter: blur(20px);
    transform: translate3d(-50px, 0, 0);
}

.app-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-image: url(http://brodeurcampbellfence.com/wp-content/uploads/2013/03/gradient-background-more-white.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav-section {
    height: auto;
    flex: 1 0 auto;
    min-width: 100%;
}

header.nav-section-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 56px;
    display: flex;
    flex-direction: row;
    height: $header-height;
    z-index: 5;
}

nav-section {
    header.nav-section-header {
        position: absolute;
    }
}

$viewIndex: 0;
$names: (title, profile, projects, experience, education, technology);

.view-title-topbar {
    header.app-header {
        icon.direction-icon {
            display: none;
        }
    }
}

@media screen and (max-width: 1200px) {

    container > header:first-of-type {
        visibility: visible;
        opacity: 1;
    }

    container {
        > main,
        > header {
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
            animation-duration: 0.3s;
        }
    }

    container.showing-navigation {
        > main,
        > header {
            animation-name: animate-main-right;
        }
    }

    container.show-navigation {
        > main,
        > header {
            transform: translate3d(200px, 0, 0);
        }
    }

    container.hiding-navigation {
        > main,
        > header {
            animation-name: animate-main-default;
        }
    }

    container.hide-navigatin {
        > main,
        > header {
            transform: translate3d(0,0,0);
        }
    }
}


@media screen and (min-width: 1201px) {
    container {
        margin-left: 200px;

        > header {
            margin-left: 200px;
        }

        > footer {
            margin-left: 200px;
        }

        .header-title {
            padding-left: 24px;
        }

        icon.menu-icon {
            display: none !important;
        }
    }
}

@media screen and (min-width: 1440px) {
    container {

    }
}
